---
layout: page
title: Providence
subtitle: Temecula OPC
bigimg:
  - "/img/big-imgs/baptism2.jpg" : ""
  - "/img/big-imgs/Community1.jpg" : ""
  - "/img/big-imgs/Community2.jpg" : ""
  - "/img/big-imgs/Community3.jpg" : ""
  - "/img/big-imgs/Community5.jpg" : ""
  - "/img/big-imgs/Community6.jpg" : ""
  - "/img/big-imgs/Community7.jpg" : ""
  - "/img/big-imgs/suns-out-guns-out.jpg" : ""
  - "/img/big-imgs/members.jpg" : ""
  - "/img/big-imgs/preaching3.jpg" : ""
---


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header text-center">
        Finding Our Life In Jesus Christ:
      </h1>
      <h3 class="text-center">
        The True, The Good, The Beautiful
      </h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center">This Sunday</h3>
          {% for post in site.posts %}
            {% if post.categories contains 'sundays' %}
              <p class="text-center">
              {{post.title}}
              </p>
              <h6 class="text-center">{{post.text}}</h6>
              <p class="text-center">
              {{post.speaker}}
              </p>
              {% break %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <p>
      Providence is a congregation of saints who are united by the transforming
      Gospel of Jesus Christ, meeting weekly to worship the Triune God in spirit
      and in truth (John 4:24) and with reverence and awe (Heb 12:28).
      We are a biblical, confessional, and presbyterian church, and we would
      love to have you join us for worship! In the meantime, explore our site
      to learn more about us, listen to recent sermons, and find out about our
      upcoming events.
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8">
      <h1>Title 2</h1>
      <img src="http://placehold.it/350x350">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel suscipit
      lacus. Curabitur nec vehicula dui. Mauris condimentum nec tortor vitae hendrerit.
      Aliquam mattis urna non lectus gravida, facilisis cursus quam malesuada.
      Vestibulum facilisis dui in rutrum viverra. Aenean venenatis eros condimentum
      erat dignissim, et ultricies arcu suscipit. Donec aliquam dolor eu ex eleifend,
      vel fermentum tellus fermentum. Nunc tempor accumsan urna, nec vehicula tellus volutpat eu.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Providence Temecula OPC</h3>
      <p>
      <strong>Sunday Mornings</strong><br />
      Erle Stanly Gardner Middle School<br />
      45125 Via Del Coronado<br />
      Temecula, CA 92592
      </p>
      <p>
      <strong>Service Times</strong><br />
      Sunday Morning 10am<br />
      Sunday School Hour 12pm
      </p>
      <p>
      Mailing Address:<br />
      P.O. Box 891165<br />
      Temecula, CA 92589<br />
      Phone: (951) 551-9177<br />
      Email: info@temeculaopc.org
      </p>
      <iframe src="http://maps.google.com/maps?q=45125+Via+Del+Coronado++Temecula+92592&amp;hl=en&amp;ie=UTF8&amp;sll=33.501371,-117.122245&amp;sspn=0.204409,0.349846&amp;hnear=45125+V%C3%ADa+Del+Coronado,+Temecula,+California+92592&amp;t=m&amp;hq=&amp;ll=33.46997,-117.10988&amp;spn=0.021479,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed" height="300" width="300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div>
  </div>
</div>

{% if paginator.total_pages > 1 %}
  <ul class="pager main-pager">
    {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
