---
layout: page
title: Providence
subtitle: Temecula OPC
bigimg:
  - "/img/big-imgs/baptism2.jpg" : "Coral Chase's Baptism, 04/10/16"
  - "/img/big-imgs/Community1.jpg" : "Fellowship"
  - "/img/big-imgs/Community2.jpg" : "Fellowship"
  - "/img/big-imgs/Community3.jpg" : "Fellowship"
  - "/img/big-imgs/Community5.jpg" : "Fellowship"
  - "/img/big-imgs/Community6.jpg" : "Fellowship"
  - "/img/big-imgs/Community7.jpg" : "Fellowship"
  - "/img/big-imgs/suns-out-guns-out.jpg" : "Fellowship"
  - "/img/big-imgs/members.jpg" : "New Members, 4/10/16"
  - "/img/big-imgs/preaching3.jpg" : "Intern Cruse, 4/24/16"
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header text-center">
        Finding Our Life In Jesus Christ:
      </h1>
      <h3 class="text-center sub-banner">
        The True, The Good, The Beautiful
      </h3>
    </div>
  </div>

  <div class="hr-space">
    <hr class="small-hr">
  </div>

  <div class="row description">
    <div class="col-md-12">
      <p>
      Providence is a congregation of saints who are united by the transforming
      Gospel of Jesus Christ, meeting weekly to worship the Triune God in spirit
      and in truth (John 4:24) and with reverence and awe (Heb 12:28).
      We are a biblical, confessional, and presbyterian church, and we would
      love to have you join us for worship! In the meantime, explore our site
      to learn more about us, listen to recent sermons, and find out about our
      upcoming events.
      </p>
    </div>
  </div>

  <div class="hr-space-alt">
    <hr class="small-hr-alt">
  </div>

  <div class="row">
    <div class="col-md-8">
      <h1 class="section-title">Upcoming at Providence</h1>
      {% assign now = 'now' | date: "%s" | plus: 0 %}
      {% assign sorted = site.posts | sort: "date" %}
      {% for post in sorted %}
        {% assign datetime = post.date | date: "%s" | plus: 0 %}
        {% if post.categories contains 'announcements' and datetime >= now %}
          <h3>{{post.title}}</h3>
          {{post.content}}
          {% break %}
        {% endif %}
      {% endfor %}
      <hr />
      <p>
      See the full list of upcoming events and information on the
      <a href="/announcements">Announcements</a>
      page.
      </p>

    </div>
    <div class="col-md-4">
      <h3 class="sidebar-title">Providence Temecula OPC</h3>
      <hr class="sidebar-line">
      <p>
      <strong class="contact-title">Sunday Mornings</strong><br />
      Meeting at The Temeku Hills Ballroom<br />
      41687 Temeku Dr<br />
      Temecula CA, 92591
      </p>
      <p>
      <strong class="contact-title">Service Times</strong><br />
      Sunday School Hour 9:30 am<br />
      Sunday Morning 10:30 am
      </p>
      <p>
      <strong class="contact-title">Mailing Address</strong>:<br />
      P.O. Box 891165<br />
      Temecula, CA 92589<br />
      Phone: (951) 551-9177<br />
      Email: <a href="mailto:info@temeculaopc.org">info@temeculaopc.org</a>
      </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.4736016848374!2d-117.11524788439084!3d33.51507018075532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80db7f1d1f46549d%3A0xe137f0fb5102614c!2s41687+Temeku+Dr%2C+Temecula%2C+CA+92591!5e0!3m2!1sen!2sus!4v1498495241609" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
